# Configuration UTF-8
AddDefaultCharset UTF-8

RewriteEngine On

# Docker utilise la racine, donc on met /
RewriteBase /

# Si la requête pointe vers un fichier ou dossier existant, ne pas réécrire
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les autres requêtes vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]